[submodule "MACTrackBarLib"]
	path = MACTrackBarLib
	url = https://github.com/mscrivo/MACTrackBarLib
[submodule "NetSparkle"]
	path = NetSparkle
	url = https://github.com/mscrivo/NetSparkle
	branch = main
[submodule "MACTrackBarLib/MACTrackBarLib"]
	branch = main
