<?xml version="1.0"?>
<configuration>
  <configSections>
    <section  name="BitFactory.Logging"  type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
  </configSections>

  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
    <fileLoggers>
      <fileLogger name="ootdFileLogger" fileName="ootd.log" isEnabled="false" />
    </fileLoggers>
  </BitFactory.Logging>
</configuration>
